.vscode
.DS_Store
__pycache__
./train/*
./test/*
./validation/*
SentEval-master/data/*
!SentEval-master/data/downstream
SentEval-master/data/downstream/*
!SentEval-master/data/downstream/get_transfer_data.bash
*.pdf
